@use"var";
.header-section {
    .container-fluid {
        padding: 0;

        .heading-contacts {
            display: flex;
            justify-content: space-between;
            padding: 20px 50px 0px 50px;
            border-bottom: 1px solid;

            .contact-details {
                display: flex;
                width: 80%;

                p {
                    border-right: 1px solid var.$thinline;
                    border-left: 1px solid var.$thinline;
                    margin-right: 12px;
                    margin-left: 12px;
                    padding-right: 12px;
                    padding-left: 12px;

                    &:nth-child(3) {
                        border: none;
                        padding: 0;
                        margin: 0;
                    }

                    &:nth-child(4) {
                        border-right: none;
                        padding-right: 25px;
                    }
                }
            }

            .contact-socials {
                width: 25%;
                text-align: end;
                letter-spacing: 18px;

                :nth-child(1) {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                    }
                }

                :nth-child(2) {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                    }
                }

                :nth-child(3) {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                    }
                }

                :nth-child(4) {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                    }
                }
            }
        }

        .navbar-expand-lg {
            padding-top: 0px;
            padding-bottom: 0px;

            .container-fluid {
                justify-content: space-between;
                padding: 20px 50px 20px 50px;
                border-bottom: 1px solid var.$thinline;

                .nav-logo {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }

                .nav-menulist {
                    .nav-details {
                        .mb-lg-0 {
                            gap: 20px;
                            padding-right: 20px;
                            li a{
                                padding: 8px;
                                text-decoration: none;
                                text-align: center;
                            }
                            a{
                                color: var.$black;
                            }

                            .nav-item {
                                transition: all 0.6s ease;

                                &:hover {
                                    border-bottom: 1px solid var.$theme;
                                    cursor: pointer;
                                }
                            }

                        }
                    }

                    .d-flex {
                        .btn-dark {
                            background-color: var.$black;
                            border: 1px solid var.$white;
                            transition: all 0.4s ease;

                            &:hover {
                                background-color: var.$theme;
                                color: var.$black;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
.hero_section {
    width: 100%;
    background-image: url(../image/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .cont {
        padding: 264px 816px 264px 62px;

        .head {

            h1 {
                color: aliceblue;
                font-size: 56px;
            }

            p {
                color: aliceblue;
                font-size: 18px;
            }

            display: inline;

            button {
                padding: 10px 15px;
                background-color: #000000;
                border-radius: 5px;
                margin-right: 16px;

                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 12px 24px;
                }
            }

            a {
                padding: 12px 24px;
                text-decoration: none;
                box-sizing: border-box;
                
                color: #fff;
                border-radius: 5px;

            }
        }
    }
}

.about_section {
    width: 100%;

    .cont {
        display: flex;

        .about_head {
            padding: 250px 400px 250px 64px;

        }

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 18px;
            padding-bottom: 48px;
            color: #000000;
        }

        button {
            padding: 8px 20px 8px 20px;
            background-color: #000000;
            border-radius: 5px;

            a {
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                color: #fff;
            }
        }
    }

    .doc {
        padding: 112px 64px 112px;
        height: 640px;
    }
}

.choose_section {
    width: 100%;
    height: 1200px;
    background-color: #ecebeb;

    .cont {
        // background-color: #ecebeb;

        .choose_head {
            padding: 112px 336px 30px 336px;
            text-align: center;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 18px;
            }
        }

        .choose_body {
            display: flex;
            padding: 80px 64px 48px 64px;
            // justify-content: center;
            justify-content: space-evenly;
            margin-top: 20px;

            .choose1 {
                padding: 20px 48px 20px 35px;
                text-align: center;

                .div1 {
                    padding: 0px 31.5px 64px 31.5px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                .div2 {
                    padding: 32px 31.5px 0pc 31.5px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

            }

            .im {
                justify-content: center;
            }

            .choose2 {
                padding: 3px 30px 3px 48px;
                text-align: center;

                .div3 {
                    padding: 0px 31.5px 64px 31.5px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                .div4 {
                    padding: 32px 31.5px 0px 31.5px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        .btn {
            padding-left: 780px;
            justify-content: space-around;
            button {
                margin-right: 20px;
                padding: 13px 5px;
                box-sizing: border-box;
                border: 1.6px solid #000000;
                background-color: #ecebeb;
                border-radius: 5px;

                a {
                    text-align: center;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: none;
                    color: #000000;
                    padding: 5px 5px;
                    font-weight: 500;
                }
            }

            >a {
                color: rgb(15, 17, 17);
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;

                span {
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

.Doctors_section {
    width: 100%;

    .cont {
        .doctors_head {
            text-align: center;
            padding: 112px 336px 0px 336px;
        }

        .doctor1 {
            display: flex;
            padding: 80px 64px;
            justify-content: center;
            text-align: center;

            .card1 {
                padding: 0px 130px 0px 157px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .card2 {
                padding: 0px 130px 0px 130px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .card3 {
                padding: 0px 157px 0px 130px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        .doctor2 {
            width: 100%;
            display: flex;
            padding: 0px 64px;
            justify-content: center;
            text-align: center;

            .card4 {
                padding: 0px 130px 0px 157px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .card5 {
                padding: 0px 130px 0px 130px;

                h1 {
                    font-size: 24px;

                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .card6 {
                padding: 0px 157px 0px 130px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        .butt {
            padding: 80px 800px 112px 880px;

            button {
                padding: 12px 24px;
                background-color: #fff;
                border-radius: 5px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #000000;
                }
            }

        }
    }
}

.health_section {
    width: 1005;
    background-color: #ebe6e6;

    .health_head {
        text-align: center;
        padding: 112px 0px 0px 0px;

        p {
            font-size: 16px;
            font-weight: 500;
        }

        h1 {
            font-size: 56px;
        }

        p1 {
            font-size: 18px;
        }
    }

    .mother_card {
        padding: 80px 80px 112px 80px;
        justify-content: center;

        .first_card {
            justify-content: center;
            justify-content: space-between;
            text-align: center;
            padding: 0px 0px 64px 0px;
            display: flex;
            a {
                font-size: 16px;
                color: #000000;
                text-decoration: none;

                span {
                    padding-left: 20px;
                    font-size: 20px;
                }
            }

            .card1 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    padding: 24px 16px 16px 16px;
                    font-size: 20px;
                }

                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

            .card2 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }

                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

            .card3 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }

                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

            .card4 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }

                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

        }

        .second_card {
            justify-content: center;
            justify-content: space-between;
            text-align: center;
            padding: 0px 0px 96px 0px;
            display: flex;

            a {
                font-size: 16px;
                color: #000000;
                text-decoration: none;

                span {
                    padding-left: 20px;
                    font-size: 20px;
                }
            }

            .card5 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }

                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

            .card6 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }

                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

            .card7 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }
                p {
                    padding: 0px 16px 24px 16px;
                    font-size: 16px;
                }
            }

            .card8 {
                background-color: #fff;
                padding: 0px 64px 64px 80px;
                border-radius: 5px;

                img {
                    padding: 24px 0px;
                }

                h1 {
                    font-size: 20px;
                    padding: 24px 16px 16px 16px;
                }

                p {

                    font-size: 16px;
                    padding: 0px 16px 24px 16px;
                }
            }
        }

        .but {
            padding: 50px 800px 70px 800px;

            button {
                padding: 15px 30px;
                border-radius: 5px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #000000;
                    // font-weight: 500;
                }
            }
        }
    }

}

.Contact_section {
    width: 100%;

    .cont {
        display: flex;
        justify-content: center;
        // justify-content: space-between;
        gap: 100px;

        .contact_form {
            padding: 112px 60px 112px 20px;
            justify-content: center;
            align-items: center;

            //    padding-left: 100px;
            .head {
                width: 100%;

                p {
                    font-size: 16px;
                    font-weight: 600;
                }

                h1 {
                    padding: 16px 0px 24px 0px;
                    font-size: 48px;
                    font-weight: 700;
                }

                p1 {
                    font-size: 18px;
                    font-weight: 400;
                    padding: 0px 0px 32px 0px;
                }
            }

            .first-f {
                justify-content: space-between;
                display: flex;
                padding: 24px 0px 0px 0px;

                .div1 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 0px 24px 0px 0px;

                    .d-1 {
                        width: 330px;
                        height: 50px;
                    }
                }

                .div2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .d-1 {
                        width: 330px;
                        height: 50px;
                    }

                }

            }

            .second-f {

                justify-content: space-between;
                display: flex;
                padding: 24px 0px;

                .div1 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 0px 24px 0px 0px;

                    .d-1 {
                        width: 330px;
                        height: 50px;
                    }
                }

                .div2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .d-1 {
                        width: 330px;
                        height: 50px;
                    }
                }
            }

            .third-f {

                justify-content: space-between;
                display: flex;
                padding: 0px 0px 24px 0px;

                .div1 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 0px 24px 0px 0px;

                    .d-1 {
                        width: 330px;
                        height: 50px;
                    }
                }

                .div2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .d-1 {
                        width: 330px;
                        height: 50px;
                    }
                }
            }

            .four-f {

                display: flex;
                padding: 0px 0px 24px 0px;
                flex-direction: column;

                .wee {
                    height: 200px;
                    width: 685px;
                }
            }

            .check {
                padding: 7px 0px 25px 0px;

            }

            .but {
                justify-content: space-between;

                button {
                    border-radius: 5px;
                    padding: 7px 15px;
                    background-color: #000000;

                    a {
                        color: #d8d4d4;
                        text-decoration: none;
                    }
                }
            }


        }

        .pho {
            padding: 112px 64px 112px 0px;
        }
    }
}

.help_section {
    width: 100%;
    background-color: #e7e6e6;

    .cont {
        padding: 112px 64px;

        .help {
            width: 99%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 48px 80px 48px 48px;
            box-sizing: border-box;
            border: 1px solid black;

            .head {
                h1 {
                    font-size: 40px;
                    font-weight: 700;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                }

            }

            .but {

                button {
                    padding: 10px 20px;
                    background-color: #0e0d0d;
                    border-radius: 5px;
                    color: #fff;


                }
            }
        }
    }

}

.carosel_section {
    width: 100%;
    padding: 112px 64px 188px 64px;

    .cont {
        text-align: center;

        .star {
            padding: 0px 0px 32px 0px;
        }

        .main {
            text-align: center;
            padding: 0px 0px 23px 0px;
        }

        .small {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}




.sub_section {
    background-color: #d8d4d4;
    width: 100%;
    padding: 112px 336px;

    .cont {
        text-align: center;

        .header {
            padding: 0px 0px 24px 0px;

            h1 {
                font-size: 48px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                padding: 24px 0px 0px 0px;

            }
        }

        .lable {
            .all {
                height: 50px;
                width: 430px;
                border-radius: 5px;
                padding: 0px 0px 16px 0px;
                padding: 10px 30px;
            }

            button {
                padding: 10px 30px;
                border-radius: 5px;
                background-color: #000000;

                // padding: 0px 0px 16px 0px;
                a {
                    text-decoration: none;
                    color: #fff;

                }
            }

            p {
                font-size: 12px;
                padding: 16px 0px 0px 0px;
            }
        }
    }
}


.footer_section{
    width: 100%;

    .cont {
        .first-div {
            width: 100%;
            padding: 80px 168px 80px 64px;
            display: flex;
            justify-content: center;
            justify-content: space-between;

            .class1 {
                width: 38%;

                img {
                    padding: 0px 0px 20px 0px;
                }

                p {
                    font-size: 16px;
                    padding: 0px 0px 20px 0px;
                }

                .enter {
                    height: 48px;
                    width: 410px;
                }
                button {
                    width: 119px;
                    height: 48px;
                    border-radius: 5px;
                    background-color: #fdf6f6;

                    a {
                        text-decoration: none;
                        color: #201f1f;
                    }
                }

                .p1 {
                    padding: 20px 0px 0px 0px;
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            .roll1 {
            flex-direction: column;
                p{
                    font-size: 16px;
                    font-weight: 600;
                }
                li{
                padding: 8px 5px;
                list-style: none;
                i{
                padding-right: 10px;
            }

          }
        }
           .line {
                    margin: 0px 64px;
                }
    }
        .second-div {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 64px 50px 60px;


                    .two {
                        nav {

                            ul {
                                display: flex;
                                gap: 22px;

                                li {
                                    list-style: none;

                                    a {
                                        color: #000000;

                                    }
                                }
                            }
                        }
                    }
                }




 }

}